<div class="container">
  <app-navigation></app-navigation>

  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">User</th>
        <th scope="col">Service Type</th>
        <th scope="col">Date of Reservation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of allReservations">
        <td>{{currentUser?.name}} {{currentUser?.surname}}</td>
        <td>
          <strong>{{ reservation.serviceType?.name }}</strong><br>
          {{ reservation.serviceType?.description }}<br>
          <span *ngIf="reservation.serviceType?.price">
            Price: {{ reservation.serviceType?.price | currency:'EU' }}
          </span>
        </td>
        <td>{{ reservation.dateOfReservation | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>
          <button (click)="deleteReservation(reservation.id)" mat-mini-fab aria-label="Delete">
            <mat-icon>delete</mat-icon>
          </button>
          <button class="ms-4" (click)="openEditReservationModal(reservation)" mat-icon-button aria-label="Edit">
            <mat-icon>more_vert</mat-icon>
          </button>

        </td>
      </tr>
    </tbody>
  </table>

</div>

<mat-progress-spinner *ngIf="isLoading" id="progress-spiner" mode="indeterminate">
