.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 40px);
}

.example-form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.input {
  max-width: 100%;
}

#save-pass-btn {
  max-width: 156px;
  padding: 16px
}

.main > p{
    font-size:0.75em;
    margin:0;
}

