<div class="container">
  <app-navigation></app-navigation>

  <div class="form-container">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <h2>Create An Account</h2>
      <p>Create an account to enjoy all the services without any ads for free!</p>
      <input formControlName="name" placeholder="Name">
      <input formControlName="surname" placeholder="Surname">
      <input formControlName="email" placeholder="Email Address">
      <input formControlName="password" placeholder="Password">
      <input formControlName="confirmPassword" placeholder="Confirm password">
      <button [disabled]="!signUpForm.valid" type="submit">Sign up</button>

      <p>Already have account ? <a [routerLink]="['/login']">Login</a></p>
    </form>
  </div>
</div>
