<div class="container">
  <h3 class="display-6 pb-4 text-center">Create new password</h3>
  <form [formGroup]="formGroup" class="example-form">
    <mat-form-field class="input">
      <mat-label>New password</mat-label>
      <input formControlName="newPassword" matInput type="password">
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Confirm new password</mat-label>
      <input formControlName="confirmNewPassword" type="password" matInput>
    </mat-form-field>
    <button [disabled]="!formGroup.valid" (click)="changePassword()" id="save-pass-btn" mat-raised-button>Save changes</button>
  </form>
</div>
