.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.example-form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.input {
  max-width: 100%;
}

#save-pass-btn {
  max-width: 156px;
  padding: 16px
}
