<div>
  <div class="modal-header">
    <h4 class="modal-title">Edit reservation</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <h5 class="my-2">Choose barber service:</h5>
    <mat-form-field id="select-service">
      <mat-label>Choose service</mat-label>
      <mat-select [(ngModel)]="newReservationService">
        <mat-option *ngFor="let st of serviceTypes" [value]="st">{{ st.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <h5 class="my-2">Selected booking time:</h5>
      <p>{{newReservationDate | date:'dd/MM/yyyy HH:mm'}}</p>
    </div>
    <app-booking-search></app-booking-search>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="submit()">Save changes</button>
    <button type="button" class="btn btn-outline-secondary" (click)="close()">Close</button>
  </div>
</div>
