################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vs
*.user
*.cache
bin/
obj/
/BarberBooking/BarberBooking.Server/obj/Debug/net8.0/BarberBooking.Server.assets.cache
/BarberBooking/BarberBooking.Server/obj/Debug/net8.0/BarberBooking.Server.csproj.AssemblyReference.cache
/BarberBooking/BarberBooking.Server/obj/BarberBooking.Server.csproj.nuget.g.targets
/BarberBooking/BarberBooking.Server/obj/BarberBooking.Server.csproj.nuget.dgspec.json
/BarberBooking/BarberBooking.Server/obj/project.assets.json
/BarberBooking/BarberBooking.Server/obj/project.nuget.cache
