#reservation-section {
  display: flex;
  flex-direction: column;
  padding: 48px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius:8px;
}

#selected-booking-time{
    margin-bottom: 8px;
}

#select-service {
  max-width: 240px;
  margin-bottom: 0;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
}

#content-btn{
    display:flex;
    justify-content:center;
    align-items:center;
}

#progress-spiner{
    position:absolute;
    top:50%;
    left:50%;
}

