<div class="container">
  <h3 class="display-6 text-center">Forgot password</h3>
  <p class="mb-4 text-secondary">Please provide us mail that we will use to send you confirmation link</p>
  <form [formGroup]="formGroup" class="example-form">
    <mat-form-field class="input">
      <mat-label>Enter your mail:</mat-label>
      <input formControlName="mail" matInput>
    </mat-form-field>
    <button [disabled]="!formGroup.valid" (click)="sendConfirmationLink()" id="save-pass-btn" mat-raised-button>Confirm</button>
  </form>
</div>
