<div>
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/home'" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/list-reservations'" routerLinkActive="active">Reservations</a>
    </li>
    <li (click)="logout()" class="nav-item" *ngIf="accountService.isAuthenticated()">
      <a class="nav-link" [routerLink]="['/']">Logout</a>
    </li>
    <li *ngIf="!accountService.isAuthenticated()" class="nav-item">
      <a class="nav-link" [routerLink]="'/login'" routerLinkActive="active">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/change-password'" routerLinkActive="active">Change password</a>
    </li>
    <li *ngIf="!accountService.isAuthenticated()" class="nav-item">
      <a class="nav-link" [routerLink]="'/sign-up'" routerLinkActive="active">Register</a>
    </li>
  </ul>
</div>
