<nav mat-tab-nav-bar>
  <a mat-tab-link routerLinkActive="active" [routerLink]="'/home'">Home</a>
  <a mat-tab-link routerLinkActive="active" [routerLink]="'/list-reservations'">Reservation</a>
  <a mat-tab-link [routerLink]="'/change-password'" routerLinkActive="active">Change password</a>
  <a *ngIf="!accountService.isAuthenticated()" mat-tab-link routerLinkActive="active" [routerLink]="'/login'">Login</a>
  <a *ngIf="!accountService.isAuthenticated()" mat-tab-link routerLinkActive="active" [routerLink]="'/sign-up'">Signup</a>
  <a mat-tab-link *ngIf="accountService.isAuthenticated()" (click)="logout()">Logout</a>
</nav>
